# Backend
PORT=4000
FRONTEND_URL=http://localhost:3000

# Database
MONGODB_URI=mongodb://localhost:27017/vedaai_assessment_creator

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TLS=false

# AI
AI_PROVIDER=GroqApi
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

# Auth
CLERK_SECRET_KEY=

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_WS_URL=http://localhost:4000
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/assignments
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/assignments
